process {

    errorStrategy = 'terminate'

    // Deinterleave
    withName: deinterleave {
        container = 'metashot/bbtools:38.79-2'
        // reformat will generally use over 2 CPU cores on average since the I/O is in separate threads    
        cpus = check_max(2, params.max_cpus)
        memory = check_max(4.GB, params.max_memory)
        time = params.max_time
    }

    // Reads stats
    withName: 'raw_reads_stats|clean_reads_stats' {
        container = 'metashot/bbtools:38.79-2'
        cpus = check_max(2, params.max_cpus)
        memory = check_max(4.GB, params.max_memory)
        time = params.max_time
    }

    // Quality control
    withName: 'adapter|contaminant|quality' {
        container = 'metashot/bbtools:38.79-2'
        cpus = check_max(4, params.max_cpus)
        memory = { check_max(8.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }

    // Assembly with spades
    withName: spades {
        container = 'metashot/spades:3.14.0-2'   
        cpus = check_max(16, params.max_cpus)
        memory = { check_max(64.GB * (2**(task.attempt-1)), params.max_memory) }
        time = { check_max(24.h * (2**(task.attempt-1)), params.max_time) }
        errorStrategy = 'retry'
        maxRetries = 3
    }
 
    // Assembly with megahit
    withName: megahit {
        container = 'metashot/megahit:1.2.9-2'   
        cpus = check_max(16, params.max_cpus)
        memory = { check_max(64.GB * (2**(task.attempt-1)), params.max_memory) }
        time = { check_max(24.h * (2**(task.attempt-1)), params.max_time) }
        errorStrategy = 'retry'
        maxRetries = 3
    }

    // Assembly stats
    withName: assembly_stats {
        container = 'metashot/bbtools:38.79-2'
        cpus = 1 // Stats is single threaded and it uses 120MB of RAM regardless of the assembly size.
        memory = 1.GB
        time = params.max_time
    }
 
    // Map reads to scaffolds
    withName: map {
        container = 'metashot/bowtie2:2.3.4.3-2'   
        cpus = check_max(8, params.max_cpus)
        memory = check_max(8.GB, params.max_memory)
        time = params.max_time
    }

    // SAM2BAM
    withName: sam2bam {
        container = 'metashot/htslib:1.9-2'
        cpus = check_max(8, params.max_cpus)
        memory = check_max(8.GB, params.max_memory)
        time = params.max_time
    }

    // Metabat2
    withName: metabat2 {
        container = 'metashot/metabat2:2.12.1-2'   
        cpus = check_max(8, params.max_cpus)
        memory = { check_max(16.GB * (2**(task.attempt-1)), params.max_memory) }
        time = params.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }
}
