process {

    errorStrategy = 'terminate'
    scratch = params.scratch
    
    withName: deinterleave {
        container = 'metashot/bbtools:38.79-2'
        // reformat will generally use over 2 CPU cores on average since the I/O is in separate threads    
        cpus = check_max(2, limits.max_cpus)
        memory = check_max(4.GB, limits.max_memory)
        time = limits.max_time
    }

    withName: 'raw_reads_stats|clean_reads_stats' {
        container = 'metashot/bbtools:38.79-2'
        cpus = check_max(4, limits.max_cpus)
        memory = check_max(4.GB, limits.max_memory)
        time = limits.max_time
    }

    withName: 'clean' {
        container = 'metashot/bbtools:38.79-2'
        cpus = check_max(8, limits.max_cpus)
        memory = { check_max(16.GB * (2**(task.attempt-1)), limits.max_memory) }
        time = limits.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: statswrapper {
        container = 'metashot/bbtools:38.79-2'
        cpus = check_max(2, limits.max_cpus)
        memory = check_max(2.GB, limits.max_memory)
        time = limits.max_time
    }

    withName: metaspades {
        container = 'metashot/spades:3.15.1-1'   
        cpus = check_max(8, limits.max_cpus)
        memory = { check_max(limits.assembly_min_memory + (64.GB * (task.attempt-1)), limits.max_memory) }
        time = limits.max_time
        errorStrategy = 'retry'
        maxRetries = 4
    }
 
    withName: metaplasmidspades {
        container = 'metashot/spades:3.15.1-1'   
        cpus = check_max(8, limits.max_cpus)
        memory = { check_max(limits.assembly_min_memory + (64.GB * (task.attempt-1)), limits.max_memory) }
        time = limits.max_time
        errorStrategy = 'retry'
        maxRetries = 4
    }

    withName: viralverify {
        container = 'metashot/spades:3.15.1-1'   
        cpus = check_max(2, limits.max_cpus)
        memory = { check_max(2.GB * (2**(task.attempt-1)), limits.max_memory) }
        time = limits.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withName: viralverify_db_download {
        container = 'metashot/utils:1.1.0-2'   
        cpus = check_max(2, limits.max_cpus)
        memory = check_max(2.GB, limits.max_memory)
        time = limits.max_time
    }

    withName: megahit {
        container = 'metashot/megahit:1.2.9-2'   
        cpus = check_max(8, limits.max_cpus)
        memory = { check_max(limits.assembly_min_memory + (64.GB * (task.attempt-1)), limits.max_memory) }
        time = limits.max_time
        errorStrategy = 'retry'
        maxRetries = 4
    }

    withName: metabat2 {
        container = 'metashot/metabat2:2.15-1'   
        cpus = check_max(4, limits.max_cpus)
        memory = { check_max(12.GB * task.attempt, limits.max_memory) }
        time = limits.max_time
        errorStrategy = 'retry'
        maxRetries = 3
    }
}
